@{
    ViewBag.Title = "Pronostico por Canal";
}
<h2>@ViewBag.Title.</h2>



<table id="t_canales" data-toggle="table"  data-single-select="true"
  data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id">Id</th>
            <th data-field="nombre">Nombre</th>
            <th data-field="limite">Limite</th>
            <th data-field="estado">Estado</th>
        </tr>
    </thead>
</table>

<button id="btnCanal" type="button" class="btn btn-primary">Suscribir</button>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
@Html.Partial("Modal")
<script>

    var $table = $('#t_canales');
    var $button = $('#btnCanal');
    var $modal = $('#modalForm');
    var $inputName = $("#nameCanal");
    $(function () {
        var canales = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Canales))';
        canales = JSON.parse(canales);
        $table.bootstrapTable({ data: canales });

        $button.click(function () {
            if ($table.bootstrapTable('getSelections').length <= 0) {
                alert("Seleccione un canal para realizar la suscripcion");
            } else {
                $inputName.val( $table.bootstrapTable('getSelections')[0].nombre);
                console.log($table.bootstrapTable('getSelections')[0].nombre);
                $modal.modal('show');
            }
            
            //alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })



</script>