@{
    ViewBag.Title = "Pronostico por Canal";
}
<h2>@ViewBag.Title.</h2>



<table id="t_canales" data-toggle="table">
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="nombre">Nombre</th>
            <th data-field="limite">Limite</th>            
            <th data-field="estado">Estado</th>
        </tr>
    </thead>
</table>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

<script>

    var $table = $('#t_canales');

    $(function () {
        var canales = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Canales))';
        canales = JSON.parse(canales);
        $table.bootstrapTable({ data: canales });
    })
</script>