
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<h2>Lista Pronostico</h2>

<div class="row">
    <table id="t_pronostico">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="nombre">Nombre</th>
                <th data-field="ordinal">Ordinal</th>
                <th data-field="estado">Estado</th>
                <th data-field="puntos">Puntos</th>
                <th data-field="id_participante_canal">Id Participante</th>
                <th data-field="fecha_creacion">Fecha creacion</th>
            </tr>
        </thead>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

 <script>

    var $table = $('#t_pronostico');

    $(function () {
        var pronosticos = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Pronosticos))';
        pronosticos = JSON.parse(pronosticos);    
        $table.bootstrapTable({ data: pronosticos });
    })
</script>